
:root{
  --text-color: #434455;
--main-color:#2e2f42;
--btn-hover-color:#4D5AE5;
}
body {
  font-family:"Roboto","Raleway", sans-serif;
  color: var(--main-color);
}
.link {
  text-decoration: none;
  color: var(--main-color) ;
  font-style: normal;
}
.link:hover,
.link:focus {
  color: #404bbf;
}

.list {
  list-style: none;
}

/*Site Header*/
.logo {
  font-family: "Raleway";
  font-weight: 800;
}
.logo-item {
  color: var(--btn-hover-color);
}
.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}
.phone-number {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color:var(--text-color);
}
.mail{
  color:var(--text-color);
}
.btn{
  font-family:inherit;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  height: 48px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: #4D5AE5;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color:var(--btn-hover-color);
}

.main-title{
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.second-title{
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
}
.third-title{
font-size: 20px;
line-height:1.2;
letter-spacing: 0.02em;
}
.text{
font-weight: 400;
font-size: 16px;
line-height:1.5;
letter-spacing: 0.02em;
color: #434455;
}